/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* ------------ START ----------- */
:root {
  --white-bg-clr: white ;


  --sidebar-fnt-clr: white;

  --lightblue-bg-clr: rgba(173, 216, 230, 0.514);
  --blue-bg-clr: rgb(51, 186, 231);

  --searchbar-bg-clr: rgb(218, 229, 233);

  --shadow-preset: rgba(0, 0, 0, 0.411) -2px 4px 6px;

  --padding-top: 2rem;

  --right-menu-fz-s: clamp(min(50%,0.7rem), 1vw, 80%);
  /* --right-menu-fz-m: clamp(10%, 2vw, .9rem); */
  --right-menu-fz-m: clamp(min(10%, .9rem), 2vw, 60%);
  /* --right-menu-fz-l: clamp(10%, 2vw, 1.2rem); */
  --right-menu-fz-l: clamp(1.2rem, calc(1vw + 1rem), 80%);

  --title-margin-bottom: -.8rem;

  --project-card-radius: 10px;
}

body {
  font-family: roboto, system-ui, sans-serif;
}

.container {
  display: grid;
  grid-template: minmax(15%, auto) auto / 1fr 3fr 1fr ;

  grid-template-areas: 
    "sidebar header header"
    "sidebar article rightMenu";
}

/* .container>div>* {
    border: 1px solid blue;
} */

.header {
  grid-area: header;

  display: grid;
  grid-template: min(50%, 60px) min(10%, 80px) / 1fr;

  gap: 4px;

  padding: var(--padding-top);
  padding-right: 3rem;
  
  background-color: var(--white-bg-clr);
  box-shadow: var(--shadow-preset);
  /* border: 1px solid black; */
  }

.header .top {
  display: grid;
  grid-template: min(50%, 60px)/ 1fr 30vw;

  align-items: center;

  gap: .5rem;
}

.searchbar {
  display: grid;
  grid-template: 1fr / 40px 1fr;
  padding-left: .5rem;
  padding-right: .5rem;
}

.searchbar > *{
  background-color: var(--searchbar-bg-clr);
  border-radius: 50px;
  padding: 5px;
}

.notification {
  display: flex;
  justify-content: end;
  align-items: center;

  gap: max(3vw, 10px);
}

.notification .icon:nth-child(2) {
  width: min(50%, 50px);
}

.header .bottom {
  display: grid;
  grid-template: 1fr / 1fr 1fr;

  gap: 5px
}

.bottom .greeting {
  display: grid;
  /* grid-template: 1fr 1fr / 60px 1fr; */
  grid-template: minmax(10%, 30px) minmax(10%, 40px) / minmax(10%, 60px) auto;
  grid-template-areas: 
    "avatar placeholder"
    "avatar userName";
  
  column-gap: 4px;

  align-content: center;
}

.greeting .icon {
  grid-area: avatar;
  width: max(10%, 60px);

  place-self: center;
}

.greeting .placeholder {
  font-size: .8rem;
  font-weight: bold;

  align-self: end;
}

.greeting .userName {
  grid-area: userName;
  font-size: clamp(.9rem, 2vw, 80%);
}

.bottom .buttons {
  display: flex;
  justify-content: end;
  align-items: center;

  gap: max(2vw, 5px);
}

.button {
  width: min(50%, 70px);
  border-radius: 25px;
  background-color: var(--blue-bg-clr);
  border: none;
  padding: .5rem;

  font-size: var(--right-menu-fz-m);
  color: var(--sidebar-fnt-clr);
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template: min(50%, 60px) 1fr 3fr / 1fr;
    gap: 4px;

    background-color: var(--blue-bg-clr);
    color: var(--sidebar-fnt-clr);

    text-align: start;
    padding-top: var(--padding-top);
    padding-right: var(--padding-top);
    padding-left: 0.5rem;

    font-weight: bold;
}

#sidebar-top {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: minmax(50%, 40px) ;
    gap: .5rem;

    font-size: 1.2rem;
    align-items: center;

    cursor: pointer;
}

#sidebar-top .icon {
    width: max(50%, 40px);
    place-self: center;
}

.menu li {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: minmax(50%, 40px) ;
    gap: .5rem;

    align-items: center;
    font-size: 1rem;

    cursor: pointer;
}

li .icon {
    width: min(50%, 18px);
    place-self: center;
}

#sidebar-config {
    margin-top: 2rem;
}

.article {
    grid-area: article;

    display: grid;
    grid-template: min(50%, 30px) repeat(3, 1fr) / repeat(2, 1fr);

    gap: 1rem;
    padding: 1rem;

    background-color: var(--lightblue-bg-clr);
}

.article .title {
    grid-row: 1;
    grid-column: 1 / -1;
    /* align-self: end; */

    margin-bottom: var(--title-margin-bottom);
}

.article .project-card {
    background-color: var(--white-bg-clr);
    border-radius: var(--project-card-radius);
    box-shadow: var(--shadow-preset);

    display: grid;
    grid-template: minmax(32px, 60px) minmax(20%, 1fr) minmax(10px, 30px) / minmax(15px, 3px) 1fr;

    grid-template-areas: 
      "rect title"
      "rect content"
      "rect icons";

    gap: min(50%, 5px);

    /* padding: 15px; */
    padding-right: 15px;

}

.project-card .rectangle {
  width: 10px;
  height: auto;
  background-color: orange;
  border-top-left-radius: var(--project-card-radius);
  border-bottom-left-radius: var(--project-card-radius);

  grid-area: rect;
}

.project-card .title {
  grid-area: title;
  font-size: var(--right-menu-fz-l);
  line-height: clamp(20px, 1rem, 80%);

  align-self: center;
}

.project-card .description {
  grid-area: content;
  font-size: var(--right-menu-fz-s);
  /* line-height: clamp(12px, 1rem, 100%); */
}

.project-card .icons {
  grid-area: icons;

  display: flex;
  justify-content: end;
  gap: 1rem;
  padding-bottom: 10px;
}

.icons [id*="-icon"] {
  width: clamp(10px, 2vw, 100%);
}

.article>div:last-child,
.article>div:nth-last-child(2) {
    margin-bottom: 1rem;
}


.right-menu {
    grid-area: rightMenu;

    display: grid;
    grid-template: repeat(2, 1fr) / 1fr;
    gap: 4px;
    padding: 1rem;    

    background-color: var(--lightblue-bg-clr);
}

.right-menu .menu {
  display: grid;
  grid-template: min(50%, 30px) minmax(50%, auto) / 1fr;

  gap: 1rem;
  padding-right: 1rem;
}

#announcements-card {
  display: grid;
}

#trending.menu {
  padding-bottom: 1rem;
}

#trend-card {
  display: grid;
}

.right-menu .card {
  background-color: var(--white-bg-clr);
  border-radius: .5rem;
  padding: .5rem;
  box-shadow: var(--shadow-preset);
}

[class^="announcement"] {
  font-size: var(--right-menu-fz-s);
  padding: 5px;
}

[class^="announcement"]:nth-child(-n + 2) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.377);
}

[class^="trend"] {
  font-size: var(--right-menu-fz-m);
  padding: 5px;
}

.article > [class="title"],
.right-menu [class="title"] {
  font-size: 1rem;
  align-self: end;

  margin-bottom: var(--title-margin-bottom);
}

.card [class^="trend"] {
  display: grid;
  /* grid-template: minmax(10%, 15px) minmax(10%, 30px) / min(50%, 40px) 1fr; */
  grid-template: minmax(10%, 30px) minmax(10%, 40px) / minmax(10%, 60px) auto;

  grid-template-areas: 
    "avatar at"
    "avatar username";

  column-gap: min(10%, 6px);
}

.card .avatar {
  grid-area: avatar;

  place-self: center;
  width: max(30%, 40px);
}

.card .at {
  grid-area: at;

  font-size: clamp(5%, calc(5vw + 1rem), .7rem);
  font-weight: bold;

  align-self: end;
}

.card .userName {
  grid-area: username;

  font-size: clamp(.6rem, 1vw, 150%);
  font-weight: lighter;
}

/* ------- pointer style -------- */

.avatar,
.notification>p,
.greeting>*,
.icon,
.button,
.li {
  cursor: pointer;
}
.searchbar > p,
.searchbar {
  cursor: crosshair;
}